{% extends 'bootstrap/base.html' %}
{% block title %}商铺添加{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="page-header">
                <h3 class="text-center">添加分类</h3>
            </div>


            <form action="" method="post" class="form-horizontal" novalidate>
                {% for foo in form %}
                    {% if not loop.last %}
                        <div>{{ foo.label }}{{ foo }}</div>
                        <div class="text-danger">{{ foo.errors[0] }}</div>
                    {% else %}
                        {{ foo }}
                    {% endif %}
                {% endfor %}
                <div class="col-sm-offset-2 col-sm-10">
                    <div style="height: 10px"></div>
                    <button type="submit" class="btn btn-success">添加分类</button>&emsp;&emsp;&emsp;
                </div>
            </form>

        </div>
    </div>
{% endblock %}



<script type="application/javascript">

</script>