{% extends 'bootstrap/base.html' %}
{% block title %}菜品添加{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="page-header">
                <h3 class="text-center">添加菜品</h3>
            </div>
            <form action="" method="post" class="form-horizontal" novalidate>
                {% for foo in form %}
                    <div style="height: 1rem"></div>
                    {% if not loop.last %}
                        {% if foo.id =="image-url" %}
                            <button id="image-input">上传图片</button>
                            {{ foo }}
                            <img src="" id="image" alt="">
                        {% else %}
                        <div>{{ foo.label }}{{ foo }}</div>
                        <div class="text-danger">{{ foo.errors[0] }}</div>
                            {% endif %}
                    {% else %}
                        {{ foo }}
                    {% endif %}
                {% endfor %}
                <div class="col-sm-offset-2 col-sm-10">
                    <div style="height: 10px"></div>
                    <button type="submit" class="btn btn-success">确认添加</button>
                    <div style="height: 10rem"></div>
                </div>
            </form>
        </div>
    </div>
        <script>
        window.onload = function () {
            itqiniu.setUp({
                'domain': 'http://pepuwqajt.bkt.clouddn.com/',
                'browse_btn': 'image-input',
                'uptoken_url': '/get_uptoken/',
                'success': function (up, file, info) {
                    var image_url = file.name;
                    var image_input = document.getElementById('image-url');
                    image_input.value = image_url;
                    var img = document.getElementById('image');
                    img.setAttribute('src', image_url);
                },
            });
        };
    </script>
{% endblock %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename="itqiniu.js") }}"></script>
{% endblock %}
