{% extends 'bootstrap/base.html' %}
{% block title %}分类列表{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for("cms.user_home") }}">主页</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"></li>
                    <li><a href="{{ url_for("cms.add_shop") }}">新开店铺</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="JavaScript:;">你好:{{ current_user.username }}</a></li>
                        <li><a href="{{ url_for("cms.logout") }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for("cms.login") }}">登陆</a></li>
                        <li><a href="{{ url_for("cms.logout") }}">注销</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-xs-12 col-xs-offset-0">
            <div class="page-header">
            </div>

            <h1 class="text-center">分类列表</h1>
            <hr>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="text-danger">???店铺</strong> 的分类：
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>分类名称</th>
                        <th>分类描述</th>
                        <th>分类编号</th>
                    </tr>
                    </thead>
                    {% if cates %}
                        <tbody>
                        {% for cate in cates %}
                            <tr>
                                <th>{{ loop.index }}</th>
                                <th>
                                    <a href="{{ url_for("cms.cate_update",pub_id =cate.pub_id,shop_id =cate.shop_id ) }}">{{ cate.name }}</a>
                                </th>
                                <th>{{ cate.description }}</th>
                                <th>{{ cate.type_accumulation }}</th>
                            </tr>
                        {% endfor %}

                        </tbody>
                    {% else %}
                        <div><a href="{{ url_for('cms.add_shop') }}">还没有分类耶，赶快添加一个吧...</a></div>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

