{% extends 'bootstrap/base.html' %}
{% block title %}新用户注册{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="JavaScript:;">注册新用户</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for("cms.login") }}">登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="page-header">
                <h3 class="text-center">填写注册信息</h3>
            </div>


            <form action="{{ url_for("cms.register") }}" method="post" class="form-horizontal" novalidate>

                {% for foo in form %}
                    {% if not loop.last %}
                        <p>{{ foo.label }}{{ foo }}</p>
                    {% else %}
                        <p>{{ foo }}</p>
                    {% endif %}
                    <div class="text-danger">{{ foo.errors[0] }}</div>
                {% endfor %}

                    <button type="submit" class="btn btn-success">注册</button>


            </form>


        </div>
    </div>
{% endblock %}







